@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-base-100: #fcfbfe;
    --color-base-200: white;
    --color-base-300: #E6E6E6;
    --color-base-content: oklch(20% 0.05 240);
    --color-primary: #7a46d2;
    --color-primary-content: oklch(98% 0.01 240);
    --color-secondary: #af8aef;
    --color-secondary-content: oklch(98% 0.01 200);
    --color-accent: oklch(65% 0.25 160);
    --color-accent-content: oklch(98% 0.01 160);
    --color-info: oklch(70% 0.2 220);
    --color-info-content: oklch(98% 0.01 220);
    --color-success: oklch(65% 0.25 140);
    --color-success-content: oklch(98% 0.01 140);
    --color-warning: oklch(80% 0.25 80);
    --color-warning-content: oklch(20% 0.05 80);
    --color-error: oklch(65% 0.3 30);
    --color-error-content: oklch(98% 0.01 30);
}

@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    /* --color-base-100: #1a1a1a; */
    --color-base-200: #1f2937;
    --color-base-300: #1f2937;
    /* --color-secondary: #1f2937; */
    --color-secondary: #af8aef;
    --color-primary: #7a46d2;
    --color-accent: oklch(65% 0.25 160);
    --color-accent-content: oklch(98% 0.01 160);
    --color-info: oklch(70% 0.2 220);
    --color-info-content: oklch(98% 0.01 220);
    --color-success: oklch(65% 0.25 140);
    --color-success-content: oklch(98% 0.01 140);
    --color-warning: oklch(80% 0.25 80);
    --color-warning-content: oklch(20% 0.05 80);
    --color-error: oklch(65% 0.3 30);
    --color-error-content: oklch(98% 0.01 30);
}
@plugin "daisyui/theme" {
    name: "cupcake";
    default: false;
    --color-base-100: #f9f9f9;
    --color-base-200: #f3f4f6;
    --color-base-300: #E6E6E6;
    --color-primary: #7a46d2;
    --color-secondary: #af8aef;
    --color-accent: oklch(65% 0.25 160);
    --color-accent-content: oklch(98% 0.01 160);
}
.active:hover {
    @apply text-info-content bg-primary
}